* {
    box-sizing: border-box;
    font-family:arial,helvetica;
  }
  
.topnav {
    background-color: grey;
    overflow: hidden;
    text-align: left;
    color: rgb(0, 0, 0);
    text-decoration: none;
   
    }
  
    .topnav a {
      text-align: center;
      color: white;
      text-decoration: none;
      font-size: 20px;
      }
  
      .topnav a:hover {
        color: black;
      }
  
      
    .topnav input {
      border: 1px solid #ccc; 
  }