<!--THIS IS INVANTREE-->
<!doctype html>
<link rel="stylesheet" href='static', filename='home.css'>
{% extends "base.html" %}

{% block content %}
<div class="title">
<img src="static/logo.svg">
</div>
<div class="wrap">
   <form method="POST">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="Enter Stock Number Here..." name="r">
       <button type="submit" formaction="/search" class="searchButton" name="q">
         <i class="fa fa-search"></i>
      </button>
    </div>
   </form>
 </div>


{% endblock %}
