{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='item.css') }}">
{% endblock %}
{% block content %}

    <div class="container">
{% for d in details %}
    <h1>{{ d.brand + " " + d.product_name }}</h1>
    <img src="static/shoeph.png">
    <h3>Brand Name:</h3>
    <p>{{ d.brand }}</p>
    <h3>Product Name:</h3>
    <p>{{ d.product_name }}</p>
    <h3>Stock Number:</h3>
    <p>{{ d.stock_number }}</p>
    <h3>Size:</h3>
    <p>{{ d.size }}</p>
    <h3>Colour:</h3>
    <p>{{ d.colour }}</p>
    <h3>Stockroom Location:</h3>
    <p>{{ d.stockroom_location }}</p>
    <h3>Shopfloor Location:</h3>
    <p>{{ d.shopfloor_location }}</p>
    <h3>Stock Quantity:</h3>
    <p>{{ d.stock_quantity }}</p>
    <h3>Stock Description:</h3>
    <p>{{ d.stock_description }}</p>
    <h3>Price:</h3>
    <p>£ {{ d.price }}</p>
    </div>
{% endfor %}
{% endblock %}