{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='item.css') }}">
{% endblock %}
{% block content %}

    <div class="container">
    <h1>ASICS GEL-CONTEND 6 GS</h1>
    <img src="static/shoeph.png">
    <h3>Brand Name:</h3>
    <p>{{ UserTwo.brand }}</p>
    <h3>Product Name:</h3>
    <p>{{ UserTwo.product_name }}</p>
    <h3>Stock Number:</h3>
    <p>{{ UserTwo.stock_number }}</p>
    <h3>Size:</h3>
    <p>{{ UserTwo.size }}</p>
    <h3>Colour:</h3>
    <p>{{ UserTwo.colour }}</p>
    <h3>Stockroom Location:</h3>
    <p>{{ UserTwo.stockroom_location }}</p>
    <h3>Shopfloor Location:</h3>
    <p>{{ UserTwo.shopfloor_location }}</p>
    <h3>Stock Quantity:</h3>
    <p>{{ UserTwo.price }}</p>
    <h3>Stock Description:</h3>
    <p>{{ UserTwo.stock_description }}</p>
    <h3>Price:</h3>
    <p>£ {{ UserTwo.price }}</p>
    </div>
{% endblock %}